body{
    background-color: rgb(0, 5, 67);
}
form{

     width:250px;
     height: auto;
     margin-left:810px;
     text-align: center;
     font-size: larger;
     margin-top:50px;
     border: 3px solid black;
     padding:20px;
     background: rgba(127, 216, 88, 0.85);
     margin-top: 69px;
}

.welkom{
    text-align: center;
    color:rgba(127, 216, 88, 0.85);
    margin-top:50px;
    font-size: x-large;
}

nav{
    
    border: 2px solid rgba(127, 216, 88, 0.85); 
    width:240px;
    text-align: center;
    padding: 35px;
    background-color: rgb(174, 179, 246);
    margin-left: 790px;
    margin-top:60px;
}


